---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

// 파일 추가 이유 : Light/Dark 변경 버튼 추가
@charset "utf-8";

// CSS와 관련된 수정 사항은 전부 여기에 적을 것 ( @import 보다 먼저 적어야 적용될 때가 있음 )

// ---------------------------------------------------------------------- //
// -                           Web Font                                 - //
// ---------------------------------------------------------------------- //
// 추가 이유 : Font 변경

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

// ---------------------------------------------------------------------- //
// -               _sass/minimal-mistakes/_variables.scss               - // 
// ---------------------------------------------------------------------- //
// 수정 이유 : 추가한 Font로 변경

/* Defaults used in Minimal mistakes */
$default-sans-serif: -apple-system, BlinkMacSystemFont, "Pretendard", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$default-serif: Georgia, Times, serif;
$default-monospace: Monaco, Consolas, "Pretendard", "Lucida Console", monospace;

/* system typefaces */
$serif: $default-serif !default;
$sans-serif: $default-sans-serif !default;
$sans-serif-narrow: $sans-serif !default;
$monospace: $default-monospace !default;

// 수정 이유 : Sidebar 좌우 간격을 좁게 설정
$right-sidebar-width-narrow: 150px !default;                                            // defalut 200px
$right-sidebar-width: 250px !default;                                                   // default 300px
$right-sidebar-width-wide: 350px !default;                                              // default 400px




// 수정 이유 : Light/Dark 변경 버튼 추가
// @import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes"; // main partials

// ---------------------------------------------------------------------- //
// -                 _sass/minimal-mistakes/_reset.scss                 - //
// ---------------------------------------------------------------------- //
// 수정 이유 : 전체적인 Font Size 변경

// html {
//   /* apply a natural box layout model to all elements */
//   box-sizing: border-box;
//   background-color: $background-color;
//   font-size: 16px;

//   @include breakpoint($medium) {
//     font-size: 17px;
//   }

//   @include breakpoint($large) {
//     font-size: 19px;
//   }

//   @include breakpoint($x-large) {
//     font-size: 21px;
//   }

//   -webkit-text-size-adjust: 100%;
//   -ms-text-size-adjust: 100%;
// }

// ---------------------------------------------------------------------- //
// -                 _sass/minimal-mistakes/_base.scss                  - //
// ---------------------------------------------------------------------- //
// 수정 이유 : 글 양쪽 정렬(+ 줄바꿈)로 변경 및 하이퍼링크 라인 제거

// 글 양쪽 정렬 (문자 단위로 줄바꿈)
p {
    text-align: justify;
    word-break: break-all;
}

// 하이퍼링크 아랫줄 제거
a {
    text-decoration: none;
}

// ---------------------------------------------------------------------- //
// -                 _sass/minimal-mistakes/_page.scss                  - //
// ---------------------------------------------------------------------- //
// 수정 이유 : Page에서의 폰트 스타일 (크기, 굵기, 색깔 등) 변경 및 앵커 (각 목차마다 존재하는 사슬 모양 링크) 제거

@include breakpoint($large) {
    // 포스팅 제목
    .page__title {
        // font-size: 1.2rem;
        // font-weight: 700;
        // margin-top: 1.2em;
        // margin-bottom: 0.5em;
        display: none;                                                         // PC 화면에선 제목이 2개로 뜨기 때문에 (Ex> 최근 포스트 위에 하나 더 생김) 이를 삭제하기 위해 추가
    }

    // 포스팅 제목 디자인
    body.layout--single .page__title {
        font-size: 1.6em;
        font-weight: 700;
        margin-top: 1.2em;
        margin-bottom: 0.5em;
        display: block;                                                        // 대신, 포스트 내부 페이지에서는 제목이 1개이기 때문에 삭제하지 않음
    }

    // 포스팅 제목 밑의 작성 일자 및 소요 시간
    .page__meta {
        font-size: 0.8rem;
        font-weight: 500;
    }

    // 본문 내용
    .page__content p {
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.05em;
    }

    // 태그, 카테고리, 업로드 로고
    .page__taxonomy i, .page__date i {
        font-size: 0.7rem;
        margin-right: 2px;
    }

    // 태그, 카테고리 (Ex> Tags, Category, Upload)
    .page__taxonomy strong, .page__date strong {
        font-size: 0.7rem;
        font-weight: 500;
        margin-right: 5px;
    }

    // 태그, 카테고리 내용 (Ex> 일본어, 한자)
    .page__taxonomy a {
        font-size: 0.7rem;
        font-weight: 300;
        padding: 3px 6px;
    }

    // Upload된 날짜 (Ex> 2026-02-06)
    .page__date {
        font-size: 0.7rem;
        font-weight: 300;
    }
}

@include breakpoint(max-width $large - 1px) {
    // 모바일 버전에서의 포스팅 제목 디자인
    body.layout--single .page__title {
        display: block;                                                       // 위와 같은 이유로 포스트 내부 페이지에서만 삭제하지 않음
        margin-top: -0.5em;
    }
    
    // 포스팅 제목
    .page__title {
        // font-size: 1.6rem;
        // font-weight: 700;
        display: none;
    }

    // 포스팅 제목 밑의 작성 일자 및 소요 시간
    .page__meta {
        font-size: 0.8rem;
        font-weight: 500;
    }

    // 본문 내용
    .page__content p {
        font-size: 1.0rem;
        font-weight: 400;
    }

    // 태그, 카테고리, 업로드 로고
    .page__taxonomy i, .page__date i {
        font-size: 0.9rem;
        margin-right: 2px;
    }

    // 태그, 카테고리 (Ex> Tags, Category, Upload)
    .page__taxonomy strong, .page__date strong {
        font-size: 0.9rem;
        font-weight: 600;
        margin-right: 5px;
    }

    // 태그, 카테고리 내용 (Ex> 일본어, 한자)
    .page__taxonomy a {
        font-size: 0.85rem;
        font-weight: 300;
        padding: 3px 6px;
    }

    // Upload된 날짜 (Ex> 2026-02-06)
    .page__date {
        font-size: 0.9rem;
        font-weight: 300;
    }
}

// 각 목차의 하이퍼링크 제거
.page__content h1 a,
.page__content h2 a,
.page__content h3 a,
.page__content h4 a,
.page__content h5 a,
.page__content h6 a {
    display: none;
}

// .toc {
//     background-color: #f7f7f7;
//     border-radius: 4px;
//     border: 0px solid #ddd;
// }

// ---------------------------------------------------------------------- //
// -                _sass/minimal-mistakes/_sidebar.scss                - //
// ---------------------------------------------------------------------- //
// 수정 이유 : Sidebar의 name과 bio, location 간격 변경 및 avatar 크기 조정 (_config.yml의 # Site Author 참고)

// Sidebar의 투명도 (원래는 0.75, Sidebar 위에 커서 올리면 1로 변경)
.sidebar {
    opacity: 1;
    transition: none;
}

// Sidebar의 avatar(이미지) 크기
.author__avatar img {
    max-width: 200px;
    width: 100%;
}

// Sidebar의 Bio(이름 밑의 소개 문구)의 두께와 Name(Park Taejun), Link(Seoul, Email, Github)들과의 간격 조절
.author__bio {
    font-weight: 700;

    p {
        margin-top: 1.6px;

        // 큰 화면에서는 Name과 Bio를 가깝게 하고 Link들과는 멀어지는 것이 이쁘지만, 작은 화면에서는 조금 별로임
        @include breakpoint($large) {
            margin-top: -5px;
            margin-bottom: 25px;
        }
    }
}

// Sidebar의 Nav(전체 글, 일본어... 등등)의 간격 조절
@include breakpoint($large) {
    .sidebar .nav__list .nav__items {
        .nav__sub-title {
            margin-top: 10px;
            margin-bottom: 4px;
            padding-bottom: 4px;

            border-bottom: none;
        }

        // "전체 글"과 "일본어" 사이에 얇은 선 추가 (구분선) -> 1.5px이 제일 이쁘긴 한데... 화면마다 굵기 차이가 생겨서 고민중
        li.nav__home {
            border-bottom: 1px solid $border-color;
        }

        // "전체 글"과 "일본어" 사이의 간격만 조절
        li:nth-child(2) .nav__sub-title {
            margin-top: -5px;
        }

        // "전체 글", "일본어", 연구", "일상" 사이의 간격 조절
        li {
            margin-bottom: 0px;
            
        }

        // 하위 카테고리 (Ex> 한자, 여행) 왼쪽에 얇은 바 생성 (주의> drak_scss에서는 색깔 반대로 넣어야 됨)
        ul.nav__category {
            border-left: 2px solid #b9b9b9;
        }

        // 얇은 바와 하위 카테고리 (Ex> 한자, 여행) 사이의 약간의 공간 생성
        ul.nav__category li a {
            padding-left: 10px;
        }

    }
}

// Mobile Version Sidebar에서 토글 메뉴 위치 조정 및 팔로우 버튼 삭제(해당 내용을 어디에 표시할 지 고민해보기)
@include breakpoint(max-width $large - 1px) {
    .sidebar {
        position: relative;

        .author__urls-wrapper {
            button {
                display: none;
            }
        }

        .nav__list label {
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }

    // "토글 메뉴 +" 버튼 관련
    .nav__list input:checked ~ .nav__items {
        // -webkit-transition: 0.5s ease-in-out;
        // transition: 0.5s ease-in-out;
        
        max-height: 500px;                               // 토글 메뉴를 눌렀을 때 펼쳐지는 속도 조절
        margin-top: -0.5em;                              // 토글 메뉴를 눌렀을 때 MastHead 간의 거리를 조절
    }

    // 토글 메뉴에서의 각 목차 및 카테고리 간 간격 조절
    .sidebar .nav__list {
        .nav__sub-title {
            margin-top: -10px;
            margin-bottom: 2px;
            padding-bottom: 2px;
        }

        // "전체 글"과 "일본어" 사이의 간격 조절
        li:nth-child(2) .nav__sub-title {
            margin-top: 0px;
        }

        // 각 대분류 카테고리(Ex>일본어, 연구, 일상)와 바로 직전 소분류 카테고리(Ex> 한자, 학부연구생, 여행) 간의 간격 조절
        li {
            margin-bottom: 0px;
        }
    }

    // 최근 포스트와 MastHead 간의 거리를 조절
    .sidebar {
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    // 최근 포스트와 MastHead 간의 거리를 조절
    .nav__list {
        margin-bottom: -1.5em;
    }
    
    // 포스트(페이지) 내부에서 제목과 MastHead 간의 거리를 조절
    .page {
        margin-top: 0px;
        padding-top: 10px;
    }
}

// ---------------------------------------------------------------------- //
// -                           nav_post_list                            - //
// ---------------------------------------------------------------------- //
// 수정 이유 : Nav(전체 글, 일본어, 한자 등등)의 폰트 변경

// "전체 글" -> nav_post_list에서 id를 category_tag_menu로 지정
#category_tag_menu > li:first-child > span {
    font-size: 0.9rem;
    font-weight: 600;
}

#category_tag_menu .nav__sub-title {
    font-size: 0.7rem;
    font-weight: 500;
}

#category_tag_menu ul li a {
    font-size: 0.7rem;
    font-weight: 300;
}

// ---------------------------------------------------------------------- //
// -                            _search.scss                            - //
// ---------------------------------------------------------------------- //
// 수정 이유 : Search 했을 때 "Result(s) found" 삭제

// Search 했을 때 "Result(s) found" 삭제
.results__found {
    display: none;
}

.search-input:focus {
    box-shadow: none;
}
/* ===============================
   Search Page Input Override
   =============================== */

body.layout--search input.search-input {
  background-color: #ffffff !important;
  border: 2px solid #dcdcdc !important;
  border-radius: 8px !important;
  padding: 14px 18px !important;
  box-shadow: none !important;
}

body.layout--search input.search-input:focus {
  border: 0px; //2px solid #2563eb !important;
  outline: none !important;
  box-shadow: none;// 0 0 0 3px rgba(37, 99, 235, 0.15) !important;
}

// ---------------------------------------------------------------------- //
// -                          _navigation.scss                          - //
// ---------------------------------------------------------------------- //
// 수정 이유 : 모바일 크기에서의 토글 메뉴 (現 카테고리) 디자인 변경

@include breakpoint(max-width $large - 1px) {
    .nav__list {
        label {
            border: 1px solid mix(#fff, $gray, 35%);
            color: mix(#000, $gray, 25%);

            &::before, &::after {
                top: 1.2em;
                background-color: mix(#000, $gray, 25%);
            }

            &:hover { border-color: mix(#000, $gray, 25%); }
        }

        input:checked + label {
            border: 1px solid mix(white, #000, 20%);

            &::after, &:hover::after {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);               
            }
        }
    }
}

// 포스팅 내부에서 최하단에 Next/Previous Post로 이동하는 버튼 디자인 수정
.pagination {
    @include clearfix();
    float: left;
    width: 100%;

    a {
        color: black;
    }

    &--pager {
        margin-top: 0;
        padding: 0em 0.5em 0em 0em;
        padding-bottom: 0.5em;
        display: block;
        padding-left: 1em;
        padding-right: 1em;
        // width: 100%;
        font-weight: 400;
        text-align: center;
        text-decoration: none;

        .upper_paper-title {
            font-size: 14px;
            font-weight: 300;
            color: gray;

            &:hover {
                color: white;
            }
        }
    }
}

// ---------------------------------------------------------------------- //
// -                _sass/minimal-mistakes/_archive.scss                - // 
// ---------------------------------------------------------------------- //

// 서브타이틀 (각 화면의 최상단에 있는 카테고리 이름 (Ex> 최근 포스트, 일본어, 연구... )) 폰트
.archive__subtitle {
    font-size: 1.2rem;
}

// 카테고리 화면 (일본어, 연구, 일상)에서의 각 포스트 간 세로 간격 조절
.archive .list__item .archive__item .archive__item-title {
    margin-top: 1.5em;
}

// 메인 화면에서의 포스트 제목 폰트
.archive__item-title {
    margin-top: 1.5em;
    font-size: 1.25em;
    a {
        color: #2a408e;//#2B4F91;
        font-weight: 700;
    }
}

// 메인 화면에서의 포스트 일자 및 소요 시간 폰트
.list__item {
    .page__meta {
        font-size: 0.7em;
    }
}

// ---------------------------------------------------------------------- //
// -                         masthead.html                              - //
// ---------------------------------------------------------------------- //
// 수정 이유 : 모바일에서 햄버거 버튼 왼쪽에 이메일, 깃허브, 다크모드 아이콘 추가 및 햄버거 사이드바 수정

// 모바일 환경에선 오른쪽 사이드바에 화이트/블랙모드 변경 아이콘 삭제
@include breakpoint(max-width $large - 1px) {
    #toggle-theme-pc {
        display: none;
    }
}

// 모바일 환경에서 Masthead 부분에 메일, 깃허브, 블랙/화이트모드 변경 아이콘 추가
.mobile-icons {
  display: none;                                                                // 큰 화면에선 숨김
  
  @include breakpoint(max-width $large - 1px) {
    display: flex;                                                              // 모바일 화면에서만 표시
    align-items: center;
    gap: 0px;                                                                   // 아이콘 간 간격
    margin-left: 0px;          
    margin-right: 10px;                                                         // 햄버거 버튼과의 간격
  }
  
  .mobile-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;                                                                // 터치 영역 크기 (햄버거와 동일)
    height: auto;
    color: $text-color;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    // transition: color 0.2s ease;
    // &:hover {
    //   color: $primary-color;
    // }
    
    i {
      font-size: 20px;                                                          // 아이콘 크기
    }
  }
}

// 모바일에서 네비게이션 메뉴를 티스토리 스타일의 우측 슬라이드 사이드바로 변경
@include breakpoint(max-width $large - 1px) {
  .greedy-nav .visible-links li {                                              // 상단 메뉴 숨김
    min-width: 100vw;                                                          // 화면 너비만큼 넓은 박스를 보이지 않게 넣어서 로고가 들어갈 자리 부족하게 함 (강제로 햄버거 뜨게 설정)
    opacity: 0;                                                      
    pointer-events: none;                                    
  }

  .greedy-nav .nav-selector {                                                  // 햄버거 아이콘 표시
    display: block;
    margin-left: auto;
  }

  .greedy-nav .hidden-links {                                                  // 오른쪽 사이드바 디자인 (원래는 말풍선 스타일이지만 사이드바 디자인으로 수정)
    display: block;
    position: fixed;
    top: 0;                                                                    // 오른쪽 사이드바 및 상단 간의 간격을 0으로 설정 (꽉차게 보임)
    right: 0;
    width: 270px;                                                              // 오른쪽 사이드바 너비
    height: 100vh;                                                             // 오른쪽 사이드바 전체 높이 (원래는 말풍선 스타일이기 때문에 Search까지만 표시되지만, 사이드바처럼 표시하게 위해 강제로 높이 100%로 설정)
    z-index: 9999;                                                             // 최상단에 표시 (햄버거 버튼 제외, 사이드바가 나와도 햄버거 버튼(사이드바 누른 상태에서는 X버튼)이 위에 뜨게 설정)

    margin: 0;
    padding: 0;
    padding-top: 75px;                                                        // 오른쪽 사이드바 내부의 상단 여백 (홈 위쪽의 여백)
    background: $background-color;

    border: none;                                                             // 오른쪽 사이드바의 테두리 및 그림자 제거 (원래는 말풍선 스타일이기 때문에 테두리 및 그림자가 존재)
    border-radius: 0;
    box-shadow: none;

    overflow: hidden;                                                         // 오른쪽 사이드바의 내부 요소가 밖으로 삐져나가지 않게 설정

    transform: translateX(100%);                                              // 슬라이드 애니메이션 구현: 오른쪽 화면 밖으로 숨김
    transition: transform 0.3s ease;                                          // 0.3초 동안 부드럽게 슬라이드
  }

  .greedy-nav .hidden-links.hidden {                                          // 오른쪽 사이드바를 숨긴 상태일 때
    display: block;                                                           // diaplay: none; 으로 설정하면 슬라이드 없어짐 (햄버거 버튼 누르자마자 바로 사이드바 뜸)
    transform: translateX(100%);
    pointer-events: none;
    visibility: visible;
  }

  .greedy-nav .hidden-links:not(.hidden) {
    transform: translateX(0);                                                // 햄버거 버튼을 눌렀을 때 오른쪽 사이드바가 원래 위치로 이동 (화면에 나타남)
    pointer-events: auto;                                                    // 화면에 나타난 후에는 오른쪽 사이드바 클릭 가능

    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.6);                            // 오른쪽 사이드바가 떴을 때 가독성을 올리고 뒷화면과 구분짓기 위해 블러처리를 빼고 어둡게 설정
  }

  .greedy-nav .hidden-links * {                                              // 오른쪽 사이드바의 내부 요소들의 개별 애니메이션 제거
    transition: none;
  }

  .greedy-nav .hidden-links::before,
  .greedy-nav .hidden-links::after {
    display: none;                                                           // 말풍선 스타일 화살표 제거 (원래 드롭다운 메뉴의 삼각형 화살표가 있었지만 사이드바 형식으로 만들기 위해 제거)
  }

  .greedy-nav .hidden-links li {                                             // 오른쪽 사이드바의 항목 스타일
    display: block;                                                          // 오른쪽 사이드바의 각 항목을 세로로 나열
    width: 100%;                                                             // 오른쪽 사이드바의 각 항목은 가로로 전체 너비 사용 (블록 스타일)
    border-bottom: 1px solid $border-color;                                  // 오른쪽 사이드바의 각 항목을 구분짓는 선 제작
  }

  .greedy-nav .hidden-links a {                                              // 오른쪽 사이드바의 메뉴 링크 스타일
    display: block;
    padding: 16px 20px;                                                      // 오른쪽 사이드바의 각 항목의 크기 설정
    font-size: 1rem;                                                         // 오른쪽 사이드바의 각 항목의 글자 크기
  }

// ---------------------------------------------------------------------- //
// -               _sass/minimal-mistakes/_utilities.scss               - // 
// ---------------------------------------------------------------------- //
// 수정 이유 : 기존에 오른쪽 사이드바를 펼쳤을 때 있었던 블러처리(오버레이 처리) 등을 제거 (위에서 어둡게 설정하는 걸로 변경)

  .greedy-nav__toggle {
    z-index: 10000;                                                          // 햄버거 버튼을 최상단에 표시, 사이드바가 나와도 햄버거 버튼(사이드바 누른 상태에서는 X버튼)이 위에 뜨게 설정
    &:before {
        display: none;
    }

    &.close {
      &:before {
        display: none;
      }
    }
  }
}

// // ---------------------------------------------------------------------- //
// // -                 _sass/minimal-mistakes/_reset.scss                 - //
// // ---------------------------------------------------------------------- //
// // 수정 이유 : Font Size 변경

// // html {
// //   /* apply a natural box layout model to all elements */
// //   box-sizing: border-box;
// //   background-color: $background-color;
// //   font-size: 16px;

// //   @include breakpoint($medium) {
// //     font-size: 17px;
// //   }

// //   @include breakpoint($large) {
// //     font-size: 19px;
// //   }

// //   @include breakpoint($x-large) {
// //     font-size: 21px;
// //   }

// //   -webkit-text-size-adjust: 100%;
// //   -ms-text-size-adjust: 100%;
// // }

// // ---------------------------------------------------------------------- //
// // -                 _sass/minimal-mistakes/_base.scss                  - //
// // ---------------------------------------------------------------------- //
// // 수정 이유 : 글 양쪽 정렬(+ 글씨 끊기)로 변경

// p {
//     text-align: justify;
//     word-break: break-all;
// }

// // 하이퍼링크 아랫줄 제거
// a {
//     text-decoration: none;
// }

// // ---------------------------------------------------------------------- //
// // -                 _sass/minimal-mistakes/_page.scss                  - //
// // ---------------------------------------------------------------------- //
// // 수정 이유 : Page에서의 폰트 스타일 (크기, 굵기, 색깔 등) 변경

// @include breakpoint($large) {
//     // 포스팅 제목
//     .page__title {
//         font-size: 1.6rem;
//         font-weight: 700;
//         margin-top: 1.2em;
//         margin-bottom: 0.5em;
//     }

//     // 포스팅 제목 밑의 작성 일자 및 소요 시간 글자
//     .page__meta {
//         font-size: 0.8rem;
//         font-weight: 500;
//     }

//     // 본문 내용 글자
//     .page__content p {
//         font-size: 0.9rem;
//         font-weight: 400;
//         line-height: 1.2;
//     }

//     // 각 태그, 카테고리 내의 (Ex> 일본어, 한자) 글자
//     .page__taxonomy a {
//         font-size: 0.7rem;
//         font-weight: 300;
//         padding: 3px 6px;
//     }

//     .page__date {
//         font-size: 0.7rem;
//         font-weight: 300;
//     }

//     .page__taxonomy strong, .page__date strong {
//         font-size: 0.7rem;
//         font-weight: 500;
//         margin-right: 5px;
//     }

//     .page__taxonomy i, .page__date i {
//         font-size: 0.7rem;
//         margin-right: 2px;
//     }
// }

// .page__content h1 a,
// .page__content h2 a,
// .page__content h3 a,
// .page__content h4 a,
// .page__content h5 a,
// .page__content h6 a {
//     display: none;
// }



// // .toc {
// //     background-color: #f7f7f7;
// //     border-radius: 4px;
// //     border: 1px solid #ddd;
// // }

// // ---------------------------------------------------------------------- //
// // -                _sass/minimal-mistakes/_sidebar.scss                - //
// // ---------------------------------------------------------------------- //
// // 수정 이유 : Sidebar의 name과 bio, location 간격 변경 및 avatar 크기 조정 (_config.yml의 # Site Author 참고)

// // Sidebar의 투명도 (원래는 0.75, Sidebar 위에 커서 올리면 1로 변경)
// .sidebar {
//     opacity: 1;
//     transition: none;
// }

// // Sidebar의 avatar(이미지) 크기
// .author__avatar img {
//     max-width: 200px;
//     width: 100%;
// }

// // Sidebar의 Bio(이름 밑의 소개 문구)의 두께와 Name(Park Taejun), Link(Seoul, Email, Github)들과의 간격 조절
// .author__bio {
//     font-weight: 700;

//     p {
//         margin-top: 1.6px;

//         // 큰 화면에서는 Name과 Bio를 가깝게 하고 Link들과는 멀어지는 것이 이쁘지만, 작은 화면에서는 조금 별로임
//         @include breakpoint($large) {
//             margin-top: -5px;
//             margin-bottom: 25px;
//         }
//     }
// }

// // Sidebar의 Nav(전체 글, 일본어... 등등)의 간격 조절
// @include breakpoint($large) {
//     .sidebar .nav__list {
//         .nav__sub-title {
//             margin-top: 10px;
//             margin-bottom: 4px;
//             padding-bottom: 4px;
//         }

//         // "전체 글"과 "일본어" 사이의 간격 조절
//         li:nth-child(2) .nav__sub-title {
//             margin-top: 0px;
//         }

//         li {
//             margin-bottom: 0px;
//         }
//     }
// }

// // Mobile Version Sidebar에서 토글 메뉴 위치 조정 및 팔로우 버튼 삭제(해당 내용을 어디에 표시할 지 고민해보기)
// @include breakpoint(max-width $large - 1px) {
//     .sidebar {
//         position: relative;

//         .author__urls-wrapper {
//             button {
//                 display: none;
//             }
//         }

//         .nav__list label {
//             position: absolute;
//             top: 0px;
//             right: 0px;
//         }
//     }

//     .sidebar {
//         margin-bottom: 0px;
//         padding-bottom: 10px;
//     }
    
//     .page {
//         margin-top: 0px;
//         padding-top: 10px;
//     }

//     .nav__list {
//         margin-bottom: -1.5em;
//     }

//     .nav__list input:checked ~ .nav__items {
//         // -webkit-transition: 0.5s ease-in-out;
//         // transition: 0.5s ease-in-out;
//         max-height: 500px;

//         margin-top: -0.5em;
//     }

//     .sidebar .nav__list {
//         .nav__sub-title {
//             margin-top: -10px;
//             margin-bottom: 2px;
//             padding-bottom: 2px;
//         }

//         // "전체 글"과 "일본어" 사이의 간격 조절
//         li:nth-child(2) .nav__sub-title {
//             margin-top: 0px;
//         }

//         li {
//             margin-bottom: 0px;
//         }
//     }
// }